.form-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.sign-form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}